/* Style Switcher */
/* ------------------------------------------------------ */
#style-switcher {
	display: block;
	position: fixed;
	top: 250px;
	left: -200px;
	background: #ffffff;
	padding: 20px;
	width: 200px;
	border: 1px solid #e0e0e0;
	border-left: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	z-index: 999999;
}

#style-switcher.active {
	left: 0;
}

#style-switcher .toggle {
	position: absolute;
	display: block;
	top: 10px;
	left: 100%;
	background: #ffffff;
	width: 40px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: inherit;
	text-decoration: none;
	font-size: 24px;
	border: 1px solid #e0e0e0;
	border-left: 0;
}

#style-switcher ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#style-switcher .layout,
#style-switcher .colors {
	position: relative;
	display: block;
}

#style-switcher .layout:before,
#style-switcher .layout:after,
#style-switcher .colors:before,
#style-switcher .colors:after {
	display: table;
	content: ' ';
}

#style-switcher .layout:after,
#style-switcher .colors:after {
	clear: both;
}

#style-switcher .layout > li.active > a,
#style-switcher .colors > li.active > a {
	cursor: default;
}

#style-switcher .layout {
	margin-bottom: 30px;
}

#style-switcher .layout > li {
	float: left;
	width: 50%;
}

#style-switcher .layout > li > a {
	display: block;
	background: #eeeeee;
	line-height: 30px;
	text-decoration: none;
	color: inherit;
	text-align: center;
}

#style-switcher .layout > li.active > a {
	background: #e9e9e9;
}

#style-switcher .layout > li:first-child > a {
	border-right: 1px solid #e0e0e0;
}

#style-switcher .colors > li > a {
	position: relative;
	display: block;
	height: 30px;
	margin-bottom: 10px;
	text-decoration: none;
	color: inherit;
}

#style-switcher .colors > li:last-child > a {
	margin-bottom: 0;
}

#style-switcher .colors > li > a:after {
	display: block;
	height: 20px;
	width: 20px;
	background: #ffffff;
	position: absolute;
	top: 5px;
	left: 5px;
	content: '';
	font-family: 'FontAwesome';
	text-align: center;
	line-height: 20px;
	color: inherit;
}

#style-switcher .colors > li.active > a:after {
	content: '\f00c';
}