/*
Theme Name: Concierge
Theme URI: http://themeforest.net/user/uouapps
Author: UOU apps 
Author URI: http://uouapps.com/
Tags: responsive-layout,holiday,right-sidebar,seasonal,translation-ready,theme-options,two-columns
Description: Luxury Lifestyle Services
Version: 1.0.9
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

/************************html layout v.1**********************/

/*************************************************************/
/****************************GLOBAL***************************/
/*************************************************************/
/*.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption{}
.bypostauthor{}
.alignright{float: right;}
.alignleft{float: left;}
img.aligncenter, .aligncenter, div.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}*/



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

/*SIDEBAR <UL> STYLE*/
.sidebox.widget ul { padding-left: 0; }

.sidebox.widget ul > .children { padding-left: 30px; }

.ui-datepicker-trigger {
    border:none;
    background:none;
    float: right;
}

input.check-in {
    float: left;
    width: 73%;
}
input.check-out {
    float: left;
    width: 73%;
}

button.ui-datepicker-trigger {
    background: #FFF;
    color: #333;
    padding: 9px 14px;
}

button.ui-datepicker-trigger:hover {
    background: #CCC;
}

button.ui-datepicker-trigger i.fa.icon-calendar {
    color: black;
}